{% extends 'base.html' %}{%block body%}

<h1>1 . Content’s Abstract</h1>
<p>An invigilator is a person who supervises students during examinations in the organisation. The
    complexity in invigilator duty allocation in examination schedule has increased in last few years as
    number of examinations have increased. This complexity had some ambiguities as some invigilators
    got maximum number of duties while some got minimum number of duties. This project is useful
    for the teaching staff members and staff admin to facilitate the online allotment of invigilation
    duties and classrooms during the examination. Assigning invigilators to exams is an important
    phase in the exam scheduling process. The problem has its own constraints and a multi-objective
    structure.</p>
    <p>The proposed scheme will automate the manual exam management process by introducing a web
    based application which uses an efficient algorithm for scheduling the exam duties. Comprehensive
    testing and validation process is carried out to make application handle events which may result in
    the invalid data or invalid actions by the user. Overall the results obtained justify the suitability and
    quality of application for organisational needs.</p>
    <br><br>
<h1>2. Introduction - Background, Motivation and Scope</h1>
<p>Staff Duty allocation is a term which is basically concerned with the allocation of the class
    rooms. The proposed scheme aims to automate the process of assigning the duties to achieve
    efficient coordination of examination management process in an educational organisation. It will
    reduce the time consumption and manual work involved. This system provides functionalities
    such as addition, deletion and views various types of analytics. This decreases time overhead for
    admin and manual allotment of invigilation duties that could take hours, can be done in just a
    few seconds or minutes.</p>
    <br><br>
    <h3>Objectives:</h3>
    <ul>
        <li>
            Provides a user-friendly interface for the staff members and the administrator to work more
efficiently.
        </li>
        <li>
            Proper utilization of the available resources and maintaining all sort of information for future
references
        </li>
        <li>
            It saves time and labour, as well as reducing the quantity of paperwork that faculty must
complete.
        </li>
    </ul>
    <br><br>
    <h3>Scope:</h3>
    <p>The purpose of this project is to allot staff for invigilation during exams. It has been created
        mainly for use in teaching institutions where the job of allotting staff is currently being done
        manually. The system ensures equal distribution of duties, and hence with the help of this system
        the admin can easily and quickly allocate invigilators.</p>
{%endblock%}